@model ExpenseTracker.Models.Settings

@{
    ViewData["PageTitle"] = "Settings";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color: #212b36">
            <form asp-action="SaveSettings">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="SettingsId" value="@Model.SettingsId" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <ejs-textbox id="invoicePath" placeholder="invoices path" ejs-for="InvoicesPaths"
                                 floatLabelType="Always"></ejs-textbox>
                </div>

                <ejs-button id="submit" type="submit" content="Submit" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color: #212b36">
            <i class="fa-solid fa-gear fa-2xl"></i>
        </div>
    </div>
</div>